.frontpage {
  width: 100%;
}

nav a {
  color: #f3c055;
  float: right;
  padding-right: 30px;
  padding-bottom: 5px;
}

nav a:before {
  color: #f3c055;
}

nav {
  float: right;
  height: 100vh;
  width: 20%;
  background-color: #5f0713;
  position: fixed;
  padding-left: 20px;
}

.container {
  width: 75%;
  margin: 0;
  padding: 0;
}

#home {
  color: #f3c055;
  font-size: 25px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-bottom: 50px;
  list-style-type: none;
}

.icons {
  list-style-type: none;
  font-size: 20px;
  display: flex;
  padding-top: 50px;
  color: #f3c055;
  text-align: center;
}

.fa-twitter {
  padding-right: 30px;
  padding-left: 0px;
}

.fa-facebook {
  padding-right: 30px;
}

.fa-github {
  padding-right: 30px;
}

.fa-envelope {
  padding-right: 30px;
}

#logo {
  width: 200px;
  padding-bottom: 50px;
}

#banner {
  height: 100vh;
}

.fa-home {
  padding-left: 20px;
  color: #f3c055;
  font-size: 20px;
}

nav a:hover {
  color: black;
}

.fa-address-book-o {
  padding-left: 20px;
  color: #f3c055;
  font-size: 20px;
}

.fa-user-plus {
  padding-left: 20px;
  color: #f3c055;
  font-size: 20px;
}

.btn {
  width: 150px;
  background-color: #f3c055;
  margin: 3px;
  text-align: center;
}

#categories {
  padding-bottom: 5px;
  font-size: 30px;
  color: black;
  padding-left: 15px;
  padding-top: 20px;
}

.jumbotron {
  padding: 15px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  margin-left: 400px;
  margin-right: 100px;
  float: right;
}
